.button {
  min-width: 100px;
  min-height: 50px;
  padding: 10px 20px;

  color: var(--secondary-bg-dark);
  font-family: inherit;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: var(--primary-light);
  border: none;
  border-radius: 5px;
  outline: none;

  cursor: pointer;
  transition:all 0.3s ease-in-out;
}

.button:hover,
.button:focus {
  color: var(--primary-light);
  background-color: var(--secondary-bg-dark);
}

.button:disabled {
  color: var(--secondary-bg-dark);
  background-color: var(--primary-light);
  opacity: 0.3;
}