.round {
  font-family: var(--secondary-font);

  text-align: center;
}

.title {
  margin-bottom: 20px;

  font-size: 36px;
  color: var(--primary-light);
  text-transform: uppercase;
}

.question {
  margin-bottom: 15px;
  font-size: 24px;
}

.message {
  margin-bottom: 15px;
  font-size: 30px;
}

.error {
  color: var(--error-color);
}

.success {
  color: var(--success-color);
}
