.statistic {
  margin-top: 80px;

  font-family: var(--secondary-font);
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
}

.title {
  font-size: 30px;
  color: var(--primary-light);
}

.count {
  font-size: 20px;
  color: var(--primary-light);
}

.result {
  font-size: 24px;
  color: var(--primary-light);
}
